<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThiRA.Datatransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ThiRA.Datatransfer.Properties.Settings>
            <setting name="sourceDBConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="sourceDBPreScan" serializeAs="String">
                <value />
            </setting>
            <setting name="sourceDBType" serializeAs="String">
                <value />
            </setting>
            <setting name="targetDBConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="targetDBPreScan" serializeAs="String">
                <value />
            </setting>
            <setting name="targetDBType" serializeAs="String">
                <value />
            </setting>
            <setting name="isSave" serializeAs="String">
                <value>False</value>
            </setting>
        </ThiRA.Datatransfer.Properties.Settings>
    </userSettings>
</configuration>