<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true" throwExceptions="true" internalLogFile="${basedir}/logs/nlog.log" internalLogLevel="Debug" internalLogToConsole="true">
    <variable name="linePrefix" value="${date:format=HH\:mm\:ss.fff} | ${uppercase:${level:padding=-5}} | ${logger} | "/>
    <variable name="exceptionFormat" value="${onexception:${newline}${exception:format=tostring}}"/>
    <targets>
        <target name="console"
                xsi:type="Console"
                layout="${linePrefix}${message}${exceptionFormat}" />
        <target name="logFile"
                xsi:type="File"
                layout="${linePrefix}${message}${exceptionFormat}"
                fileName="./logs/log.log"
                archiveFileName="./logs/log_{#}.log"
                maxArchiveFiles="14"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="104857600"
                archiveDateFormat="yyyyMMdd" />
    </targets>
    <rules>
        <!-- Develop -->
        <logger name="*" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="logFile" />
    </rules>
</nlog>